/* ==========================================================================
   Normalize.scss settings
   @mixin ========================================================================= */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   @mixin ========================================================================= */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   @mixin ========================================================================= */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   @mixin ========================================================================= */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   @mixin ========================================================================= */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   @mixin ========================================================================= */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   @mixin ========================================================================= */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   @mixin ========================================================================= */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  padding: 0; }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   @mixin ========================================================================= */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

html body {
  font-family: Lato, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: dustygray; }

html .emphasized-container {
  max-width: 1400px;
  margin: auto; }

html .container {
  max-width: 1200px;
  margin: auto; }

html .content {
  padding: 1rem; }

h1, h2, h3 {
  font-family: 'Lato';
  color: tundora; }
  h1.odd, h2.odd, h3.odd {
    color: creamCan; }

h1 {
  font-size: 3.3rem;
  line-height: 4rem;
  font-weight: 900;
  margin: 1rem 0; }

h2 {
  font-size: 2.2rem;
  line-height: 3.3rem;
  margin: 1rem 0;
  font-weight: 500; }

h3 {
  font-size: 1.5rem;
  line-height: 2.2rem;
  margin: 0.5rem 0;
  font-weight: 500; }

@media only screen and (min-device-width: 321px) and (max-device-width: 767px) and (orientation: landscape) {
  h1 {
    font-size: 2.2rem;
    line-height: 3.3rem; }
  h2 {
    font-size: 1.5rem;
    line-height: 2.2rem; }
  h3 {
    font-size: 1.2rem;
    line-height: 1.6rem; } }

@media only screen and (max-device-width: 420px) {
  h1 {
    font-size: 2.2rem;
    line-height: 3.3rem; }
  h2 {
    font-size: 1.5rem;
    line-height: 2.2rem; }
  h3 {
    font-size: 1.2rem;
    line-height: 1.6rem; } }

@media (max-width: 420px) {
  h1 {
    font-size: 2.2rem;
    line-height: 3.3rem; }
  h2 {
    font-size: 1.5rem;
    line-height: 2.2rem; }
  h3 {
    font-size: 1.2rem;
    line-height: 1.6rem; } }

h4 {
  font-size: 1rem;
  color: tundora;
  font-weight: bold;
  margin-bottom: 1rem; }

p {
  font-size: 1rem;
  line-height: 1.7rem; }

a {
  color: tundora;
  text-decoration: none; }

html {
  font-size: 15px;
  line-height: 2.5em; }

body {
  font-size: .9rem;
  font-weight: 400;
  letter-spacing: .05em;
  position: relative; }
  body * {
    font-family: 'Montserrat', sans-serif; }

.croissant_aside {
  position: absolute;
  left: 0;
  top: 80vh;
  transform: translateY(-50%); }

.lastBeenHad {
  height: 100vh;
  width: 100%;
  background: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8' standalone='no'?%3E %3Csvg width='1440px' height='942px' viewBox='0 0 1440 942' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3C!-- Generator: Sketch 3.8.2 (29753) - http://www.bohemiancoding.com/sketch --%3E %3Ctitle%3EGroup 9%3C/title%3E %3Cdesc%3ECreated with Sketch.%3C/desc%3E %3Cdefs%3E%3C/defs%3E %3Cg id='Web' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E %3Cg id='MVP'%3E %3Cg id='Group-9' transform='translate(0.000000, -65.000000)'%3E %3Crect id='Rectangle-26' fill='%23FFFFFF' x='0' y='65' width='1440' height='942'%3E%3C/rect%3E %3Cg id='Page-1' transform='translate(223.746134, 167.373067) rotate(-30.000000) translate(-223.746134, -167.373067) translate(139.746134, 125.373067)'%3E %3Cpath d='M82.5,84 L82.5,84 C78.078,84 74.211,81.0239982 73.08,76.749 L56.553,14.301 C55.224,6.846 60.954,2.84217094e-13 68.526,2.84217094e-13 L96.474,2.84217094e-13 C104.046,2.84217094e-13 109.776,6.846 108.447,14.301 L91.92,76.749 C90.789,81.0239982 86.922,84 82.5,84' id='Fill-1' fill='%23EEAF4B'%3E%3C/path%3E %3Cpath d='M139.131,16.824 C129.18,9.597 115.536,5.532 107.31,6.675 C108.459,8.934 108.933,11.574 108.447,14.301 L91.92,76.749 C91.659,77.727 91.242,78.624 90.723,79.446 C92.085,80.268003 93.654,80.832 95.367,80.967 C109.659,85.5720006 132.045,56.711997 143.505,40.113 C149.385,31.599 147.501,22.902 139.131,16.824' id='Fill-3' fill='%23F4C44E'%3E%3C/path%3E %3Cpath d='M73.08,76.749 L56.553,14.301 C56.061,11.547 56.544,8.883 57.717,6.612 C49.449,5.655 36.078,9.714 26.292,16.824 C17.922,22.902 16.038,31.599 21.918,40.113 C33.378,56.711997 55.764,85.5720006 70.056,80.967 C71.637,80.844 73.092,80.352 74.382,79.638 C73.806,78.768003 73.359,77.799003 73.08,76.749' id='Fill-4' fill='%23F4C44E'%3E%3C/path%3E %3Cpath d='M21.918,40.113 C20.784,38.475 19.947,36.831 19.383,35.199 C11.316,43.29 4.98,52.863 1.026,63.474003 C-3.231,74.888997 6.453,86.6669997 17.397,83.4660015 L50.694,73.725003 C39.912,64.847997 28.893,50.214 21.918,40.113' id='Fill-5' fill='%23F1B501'%3E%3C/path%3E %3Cpath d='M166.974,63.474003 C162.69,51.984 155.634,41.688 146.583,33.204 C146.103,35.484 145.101,37.803 143.505,40.113 C136.677,50.004 125.97,64.245003 115.407,73.167 L150.603,83.4660015 C161.547,86.6669997 171.231,74.888997 166.974,63.474003' id='Fill-6' fill='%23F1B501'%3E%3C/path%3E %3Cpath d='M68.526,2.84217094e-13 C68.403,2.84217094e-13 68.289,0.036 68.163,0.042 L73.08,18.624 C74.211,22.899 78.078,25.875 82.5,25.875 C86.922,25.875 90.789,22.899 91.92,18.624 L96.837,0.042 C96.711,0.036 96.597,2.84217094e-13 96.474,2.84217094e-13 L68.526,2.84217094e-13' id='Fill-7' fill='%23F4C44E'%3E%3C/path%3E %3C/g%3E %3Cg id='Page-1-Copy' transform='translate(1261.955104, 774.955104) rotate(-225.000000) translate(-1261.955104, -774.955104) translate(1158.455104, 722.955104)'%3E %3Cpath d='M101.640753,103.488767 L101.640753,103.488767 C96.1928091,103.488767 91.4286298,99.8223058 90.0352274,94.5554689 L69.6738125,17.6189626 C68.0364724,8.43433452 75.0958847,-2.99138492e-12 84.4246578,-2.99138492e-12 L118.856849,-2.99138492e-12 C128.185622,-2.99138492e-12 135.245035,8.43433452 133.607694,17.6189626 L113.246279,94.5554689 C111.852877,99.8223058 107.088698,103.488767 101.640753,103.488767' id='Fill-1' fill='%23EEAF4B'%3E%3C/path%3E %3Cpath d='M171.410663,20.7273217 C159.15094,11.8235916 142.341407,6.81547452 132.2069,8.22366096 C133.622479,11.0067696 134.206451,14.2592737 133.607694,17.6189626 L113.246279,94.5554689 C112.924725,95.7603739 112.410977,96.8654861 111.771565,97.8781976 C113.449561,98.8909128 115.382583,99.5857622 117.493015,99.7520835 C135.100889,105.425486 162.680646,69.8696982 176.799471,49.4195823 C184.043684,38.9302566 181.722579,28.2154732 171.410663,20.7273217' id='Fill-3' fill='%23F4C44E'%3E%3C/path%3E %3Cpath d='M90.0352274,94.5554689 L69.6738125,17.6189626 C69.067664,14.2260095 69.6627244,10.9439371 71.1078711,8.14604439 C60.9216196,6.96701165 44.4484255,11.9677367 32.3919841,20.7273217 C22.0800677,28.2154732 19.7589625,38.9302566 27.0031762,49.4195823 C41.1220008,69.8696982 68.7017573,105.425486 86.3096318,99.7520835 C88.2574382,99.6005463 90.0500115,98.9943978 91.6393033,98.1147433 C90.9296661,97.0428991 90.378958,95.8490822 90.0352274,94.5554689' id='Fill-4' fill='%23F4C44E'%3E%3C/path%3E %3Cpath d='M27.0031762,49.4195823 C25.6060778,47.4015514 24.5748862,45.3761284 23.880033,43.3654895 C13.9414153,53.3336754 6.13540548,65.1276988 1.26404137,78.2005514 C-3.98062151,92.2639283 7.95015493,106.774535 21.4332629,102.830876 L62.455471,90.829877 C49.1719485,79.8933246 35.5964399,61.8641066 27.0031762,49.4195823' id='Fill-5' fill='%23F1B501'%3E%3C/path%3E %3Cpath d='M205.713493,78.2005514 C200.435566,64.0447628 191.742509,51.3599967 180.591595,40.9076312 C180.00023,43.7166121 178.765757,46.5736412 176.799471,49.4195823 C168.387312,61.6053847 155.19619,79.1504304 142.182478,90.1424122 L185.544271,102.830876 C199.027379,106.774535 210.958156,92.2639283 205.713493,78.2005514' id='Fill-6' fill='%23F1B501'%3E%3C/path%3E %3Cpath d='M84.4246578,1.41753276e-12 C84.2731207,1.41753276e-12 84.1326717,0.0443523288 83.9774385,0.0517443836 L90.0352274,22.9449381 C91.4286298,28.2117771 96.1928091,31.8782363 101.640753,31.8782363 C107.088698,31.8782363 111.852877,28.2117771 113.246279,22.9449381 L119.304068,0.0517443836 C119.148835,0.0443523288 119.008386,1.41753276e-12 118.856849,1.41753276e-12 L84.4246578,1.41753276e-12' id='Fill-7' fill='%23F4C44E'%3E%3C/path%3E %3C/g%3E %3Cg id='Page-1-Copy-2' transform='translate(842.389511, 65.276812) rotate(-345.000000) translate(-842.389511, -65.276812) translate(754.389511, 21.276812)'%3E %3Cpath d='M86.4285714,88 L86.4285714,88 C81.796,88 77.7448571,84.8822838 76.56,80.4037143 L59.246,14.982 C57.8537143,7.172 63.8565714,0 71.7891429,0 L101.068,0 C109.000571,0 115.003429,7.172 113.611143,14.982 L96.2971429,80.4037143 C95.1122857,84.8822838 91.0611429,88 86.4285714,88' id='Fill-1' fill='%23EEAF4B'%3E%3C/path%3E %3Cpath d='M145.756286,17.6251429 C135.331429,10.054 121.037714,5.79542857 112.42,6.99285714 C113.623714,9.35942857 114.120286,12.1251429 113.611143,14.982 L96.2971429,80.4037143 C96.0237143,81.4282857 95.5868571,82.368 95.0431429,83.2291429 C96.47,84.0902889 98.1137143,84.6811429 99.9082857,84.8225714 C114.880857,89.6468578 138.332857,59.4125683 150.338571,42.0231429 C156.498571,33.1037143 154.524857,23.9925714 145.756286,17.6251429' id='Fill-3' fill='%23F4C44E'%3E%3C/path%3E %3Cpath d='M76.56,80.4037143 L59.246,14.982 C58.7305714,12.0968571 59.2365714,9.306 60.4654286,6.92685714 C51.8037143,5.92428571 37.796,10.1765714 27.544,17.6251429 C18.7754286,23.9925714 16.8017143,33.1037143 22.9617143,42.0231429 C34.9674286,59.4125683 58.4194286,89.6468578 73.392,84.8225714 C75.0482857,84.6937143 76.5725714,84.1782857 77.924,83.4302857 C77.3205714,82.5188603 76.8522857,81.5037174 76.56,80.4037143' id='Fill-4' fill='%23F4C44E'%3E%3C/path%3E %3Cpath d='M22.9617143,42.0231429 C21.7737143,40.3071429 20.8968571,38.5848571 20.306,36.8751429 C11.8548571,45.3514286 5.21714286,55.3802857 1.07485714,66.4965746 C-3.38485714,78.4551397 6.76028571,90.7939997 18.2254286,87.440573 L53.108,77.2357174 C41.8125714,67.9359969 30.2688571,52.6051429 22.9617143,42.0231429' id='Fill-5' fill='%23F1B501'%3E%3C/path%3E %3Cpath d='M174.925143,66.4965746 C170.437143,54.4594286 163.045143,43.6731429 153.563143,34.7851429 C153.060286,37.1737143 152.010571,39.6031429 150.338571,42.0231429 C143.185429,52.3851429 131.968571,67.3042889 120.902571,76.6511429 L157.774571,87.440573 C169.239714,90.7939997 179.384857,78.4551397 174.925143,66.4965746' id='Fill-6' fill='%23F1B501'%3E%3C/path%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/svg%3E") no-repeat center fixed fixed; }
  .lastBeenHad__content {
    height: inherit;
    max-width: 940px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto; }
    .lastBeenHad__content > * {
      display: block;
      margin: 40px auto; }
    .lastBeenHad__content__text {
      font-size: 2rem;
      text-align: center; }
    .lastBeenHad__content img {
      border-radius: 50%;
      max-width: 267px;
      max-height: 257px; }
    .lastBeenHad__content__actions {
      text-align: center; }
      .lastBeenHad__content__actions .button--green {
        border: 2px solid #50E3C2; }
      .lastBeenHad__content__actions button + button {
        margin-left: 40px; }

.listBeenHad {
  font-family: inherit;
  padding: 15px;
  background-color: #50E3C2;
  height: 100vh;
  width: 100%; }
  .listBeenHad__content {
    max-width: 940px;
    margin: auto; }
    .listBeenHad__content__title {
      text-align: center;
      text-transform: uppercase;
      color: white;
      font-size: 2.5rem;
      margin: 40px 0; }
    .listBeenHad__content__item {
      height: 60px;
      padding: 60px 0;
      width: 100%; }
      .listBeenHad__content__item > * {
        display: inline-block;
        vertical-align: middle; }
      .listBeenHad__content__item + .listBeenHad__content__item {
        border-top: 1px solid white; }
      .listBeenHad__content__item__person {
        color: white;
        width: 45%; }
        .listBeenHad__content__item__person__name {
          font-size: 1.5rem;
          margin: 0 0 10px 0; }
        .listBeenHad__content__item__person__howlong {
          margin: 0; }
      .listBeenHad__content__item__actions button + button {
        margin-left: 40px; }
      .listBeenHad__content__item__actions__unavailable {
        text-transform: uppercase;
        font-size: 1rem;
        color: white; }

button {
  -webkit-appearance: none;
  appearance: none;
  background: none;
  border: none;
  font: inherit;
  color: inherit; }

.btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 0;
  padding: 1rem 1rem;
  min-height: 40px;
  text-transform: uppercase;
  color: white;
  border: 2px solid white;
  border-radius: 3px;
  font-weight: bold; }
  .btn.large {
    width: 230px;
    height: 60px; }
  .btn.green {
    background-color: #50E3C2; }
  .btn.red {
    background-color: #E35C4F;
    border-color: #E35C4F; }
