@main {
    <div class="lastBeenHad">
        <img class="croissant_aside" src="@routes.Assets.versioned("/images/croissant.svg")" />
        <div class="lastBeenHad__content">
            <p class="lastBeenHad__content__text">
                <b>Arnaud</b> est le dernier à s'être fait avoir. <br />
                <b>Il va devoir payer ses croissants !</b>
            </p>
            <img src="@routes.Assets.versioned("/images/arnaud.jpg")" />
            <div class="lastBeenHad__content__actions">
                <button class="button button--large button--green">Je confirme, il a payé</button>
                <button class="button button--large button--red">Mettre la pression</button>
            </div>
        </div>
    </div>
    <div class="listBeenHad">
        <div class="listBeenHad__content">
            <h1 class="listBeenHad__content__title">Ils doivent payer leurs croissants</h1>

            <div class="listBeenHad__content__item">
                <div class="listBeenHad__content__item__person">
                    <p class="listBeenHad__content__item__person__name">
                        <b>Arnaud</b> Lewis
                    </p>
                    <p class="listBeenHad__content__item__person__howlong">
                        Il les doit depuis déjà 34 jours.
                    </p>
                </div>
                <div class="listBeenHad__content__item__actions">
                    <button class="button button--large button--green">Je confirme, il a payé</button>
                    <button class="button button--large button--red">Mettre la pression</button>
                </div>
            </div>
            <div class="listBeenHad__content__item">
                <div class="listBeenHad__content__item__person">
                    <p class="listBeenHad__content__item__person__name">
                        <b>Denis</b> Mludek
                    </p>
                    <p class="listBeenHad__content__item__person__howlong">
                        Il les doit depuis déjà 54 jours.
                    </p>
                </div>
                <div class="listBeenHad__content__item__actions">
                    <span class="listBeenHad__content__item__actions__unavailable">Tu pensais vraiment pouvoir voter pour toi Jean ?</span>
                </div>
            </div>
        </div>
    </div>
}
