@(trigram: String)

@main {
    <article class="lastBeenHad">
        <img class="croissant_aside" src="@routes.Assets.versioned("/images/croissant.svg")" />
        <div class="lastBeenHad__content">
            <p class="lastBeenHad__content__text">
                Salut <b>@trigram</b>,  désolé de te l'annoncer comme ça mais... <br />
                <b>Tu vas devoir payer tes croissants !</b>
            </p>
            <div class="lastBeenHad__content__actions">
            </div>
        </div>
    </article>
    <script src="@routes.Assets.versioned("javascripts/pikaday.js")" type="text/javascript"></script>
}
