@(trigram: String, croissant: Croissant)

@main {
    <article class="lastBeenHad" style="background: url(@routes.Assets.versioned("/images/background.svg")) no-repeat center fixed;">
        <img class="croissant_aside" src="@routes.Assets.versioned("/images/croissant.svg")" />
        <div class="lastBeenHad__content">
            <p class="text">
                Salut <b>@trigram</b>,  désolé de te l'annoncer comme ça mais... <br />
                <b>Tu vas devoir payer tes croissants !</b>
            </p>
            <div class="actions">
                <a href="@routes.Croissants.schedule(croissant.id)" class="btn large green">Ok, je le mérite</a>
            </div>
        </div>
    </article>
}
